{% extends "layout/base.html" %}

{% block title %}Zabudnuté heslo{% endblock %}

{% block content %}

<div class="main-page">

    <div class="login-wrapper">

        <form class="login-card" method="POST">

            <h1>Zabudnuté heslo</h1>

            {% if chyba %}
                <p class="error-message">
                    {{ chyba }}
                </p>
            {% endif %}

            {% if sprava %}
                <p class="success-message">
                    {{ sprava }}
                </p>
            {% endif %}

            <label>
                E-mail <span>*</span>
            </label>

            <div class="input-box">
                <span>✉️</span>
                <input type="email"
                       name="email"
                       required>
            </div>

            <button type="submit"
                    class="login-btn">
                Odoslať reset hesla
            </button>

            <p class="register-link">
                Späť na
                <a href="{{ url_for('prihlasenie') }}">
                    prihlásenie
                </a>
            </p>

        </form>

    </div>

</div>

{% endblock %}